.wrapper
  = render 'shared/head'
  .q-show-main
    .q-show-main__head
      Result
    .q-show-main__graph
      %ul.q-show-main__detail
        %li.option-result
          30%
        %li.option-result
          30%
        %li.option-result
          30%