ul.q-show-main__detail {
  li.option-result{
    display: inline-block;
  }
}
.q-show-main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  &__head {
    font-size: 20px;
  }
  &__contents {
    // display: flex;
    padding-top: 2%;
    &__detail {
      // width: 37%;
      font-size: 15px;
    }
    &__graph {

    }
  }
  &__delete {
    margin-top: 15px;
    a:-webkit-any-link {
      color: crimson;
      font-size: 20px;
    }
  }
}
