.wrapper  {
  height: 1000px;
}
.header {
  font-size: 60px;
  height: 15%;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
}

.footer {
  height: 20%;
  border-style: groove none none none;
  padding: 0 5%;
  .content {
    color: #363636;
    padding: 5%;
  }
}

.default-form {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  box-shadow:4px 5px 6px 0px #b3abaa;
  border-radius:6px 6px 6px 6px ;
}
.half-form {
  margin-top: 5px;
  width: 45%;
  height: 40px;
  box-shadow:4px 5px 6px 0px #b3abaa;
  border-radius:6px 6px 6px 6px ;
}
.default-submit {
  margin-top: 100px;
  display: inline-block;
  text-decoration: none;
  background: #363636;
  color: rgb(233, 247, 247);
  width: 122px;
  font-size: 20px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  border-bottom: solid 3px #535555;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  transition: .4s;
}
.default-submit:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}

label {
  font-size: 20px;
}
.error-box {
  color: red;
  font-size: 20px;
}

a:-webkit-any-link {
  color: rgb(112, 110, 110);
}